.contact {
  display: flex;
  justify-content: space-around;
  font-size: 2vw;
  height: 100px;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid;
  margin-top: 8vh;
}

@media only screen and (max-width: 600px) {
  .contact {
    font-size: 16px;
    height: 50px;
  }
}
